<div class="container">
  <div class="game-container">
    <h1>Question #<%= @question.number %></h1>
    <p><%= @question.question %></p>

    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :answer %>
      <%= f.submit 'Submit', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
