<div class="container">
  <div class="game-container">
    <div id="votes-list" data-game-id="<%= @votes.first.answer.game.id %>">
      <% if @question.votes.count >= @answers.first.game.players.count %>
        <% @answers.each do |answer| %>
          <div class="my-2 d-flex justify-content-between align-items-center" style="list-style-type: none;">
            <%= cl_image_tag answer.player.user.avatar.key, transformation: [{width: 400, height: 400, crop: :fill}, {width: 100, crop: :scale}], class: "avatar" %>
            <div class="vote-card"><%= answer.answer %></div>
            <div class="vote-count"><%= answer.votes.count %></div>
          </div>
        <% end %>
        <div class="dropdown-divider mt-0"></div>
        <% if @answers.first.question.number == @answers.first.game.questions.count %>
          <h1 class="text-center mt-3">Game Summary</h1>
          <div id="summary-list" data-game-id="<%= @game.id %>">
            <% @players.each do |player| %>
              <div class="my-2 d-flex justify-content-between align-items-center" style="list-style-type: none;">
                <%= cl_image_tag player.user.avatar.key, transformation: [{width: 400, height: 400, crop: :fill}, {width: 100, crop: :scale}], class: "avatar" %>
                <div class="vote-card"><%= player.user.name %></div>
                <div class="vote-count"><%= player.points %></div>
              </div>
            <% end %>
          </div>
          <div class="dropdown-divider mt-0"></div>
          <%= link_to "Home", player_path(@player), method: :delete, class: "btn btn-primary w-100" %>
        <% else %>
          <%= link_to "Continue", question_path(@answers.first.question.next), class: "btn btn-primary w-100" %>
        <% end %>
      <% else %>
        <p>Waiting for votes...</p>
      <% end %>
    </div>
  </div>
</div>
