<div class="container">
  <ul id="votes-list" data-game-id="<%= @votes.first.answer.game.id %>">
    <% if @question.votes.count == @answers.first.game.players.count %>
      <% @answers.each do |answer| %>
        <li><%= answer.votes.count %> - <%= answer.answer %> - <%= answer.player.user.name %></li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to "Continue", question_path(@answers.first.question.next) %>
</div>
